configuration {
    modi: "drun";
    kb-accept-entry: "space,Return";    
    show-icons: true;
    icon-theme: "Papirus";
    font: "SpaceMono Nerd Font Mono 10";
    drun-display-format: "{name}";
    disable-history: false;
}


//@theme "~/.config/rofi/themes/DarkBlue.rasi"

@theme "/home/ravindufr/.config/rofi/themes/DarkBlue.rasi"
